# Python
__pycache__/
*.py[codz]

# Virtual environments
venv/
.venv/
env/
ENV/
.env

# Django
db.sqlite3
db.sqlite3-journal
*.log
media/
staticfiles/

# IDEs
.idea/
*.iml
.vscode/

# OS
Thumbs.db
.DS_Store

